@use "utils/variables" as *;
@use "utils/mixins" as *;

@use "components/type" as *;

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

img {
  // Règles générales pour toutes les images
  object-fit: cover;
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2rem);
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  & span {
    font-size: $small-el-size;
  }
  &__left, &__middle-left, &__middle-right, &__right {
    display: flex;
    flex-direction: column;
  }
  &__left span:first-child, &__middle-left span:first-child, &__middle-right span:first-child {
    font-weight: 700;
  }

  @media screen and (max-width: 768px) {
    &__left, &__middle-right {
      display: none;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  @media screen and (max-width: 768px) {
    height: 75vh;
  }
  &::before {
    content: '';
    background-image: url(../assets/images/dotted-pattern.svg);
    background-size: 10vh;
    background-repeat: repeat;
    background-position: center;
    opacity: .2;
    height: 85vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__h1 {
    font-size: $h1-size;
    color: $text-color;
    margin: 0;
    display: grid;
    line-height: .9;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  &__ecole {
    grid-column: span 3 / span 3;
    justify-self: center;
    white-space: nowrap;
  }
  &__word {
    z-index: 1;
  }
  &__comme {
    z-index: 3;
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
  }
  &__chez {
    grid-column: span 3 / span 3;
    grid-row-start: 3;
    justify-self: center;
    white-space: nowrap;
    background-image: $gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
    position: relative;
  }
  &__comme {
    position: relative;
  }
  &__star {
    @include sticker('Star', 1.4em);
    transform: rotate(-15deg);
    position: absolute;
    right: 90%;
    bottom: -20px;
    z-index: -1;
    animation: rotate 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    @media screen and (max-width: 768px) {
      bottom: -6px;
    }
  }
  &__peace {
    @include sticker('Peace', 1em);
  }
  &__circle {
    @include sticker('Circle', 1em);
    position: absolute;
    top: 70px;
    right: -100px;
    @media screen and (max-width: 1260px) {
      display: none;
    }
  }
  &__fire {
    @include sticker('Fire', 200px);
    position: absolute;
    top: 5%;
    left: 5%;
    transform: rotate(15deg);
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__frangipane {
    @include sticker('Frangipane', 120px);
    position: absolute;
    top: 10%;
    right: 5%;
    @media screen and (max-width: 768px) {
      width: 50px;
      height: 50px;
      top: 20%;
      right: 10%;
    }
  }
}

@keyframes rotate {
   0%, 60% {
        transform: rotate(-15deg);
    }
    20%, 40% {
        transform: rotate(705deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

.marquee {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 200%;
  overflow: hidden;
  background-color: $heading-color;
  height: 5rem;
  @media screen and (max-width: 768px) {
    height: 3rem;
  }
  span {
    font-style: italic;
    font-weight: 500;
    font-size: $p-size;
    color: $bg-color;
    white-space: nowrap;
    animation: marquee 5s linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110%);
  }
}

.situation, .first-contact, .issues, .first-ideas, .common-ground, .in-depth-study {
  background-image: url(../assets/images/straight-lines-pattern.svg);
  background-size: 5vh;
  background-repeat: repeat;
  background-position: center;
  @media screen and (max-width: 768px) {
    background-image: none;
  }
  @include flex-center(column);
  background-color: $situation-color;
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
  z-index: 1;
  border-bottom: 2px solid $text-color;
  &__eyes {
    @include sticker('Eyes', 100px);
    position: absolute;
    top: 10%;
    left: 17%;
    z-index: 999;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__outer-container {
    padding: $padding-container;
    border-radius: $border-radius;
    border: 2px solid $text-color;
    max-width: 60%;
    background-color: $situation-color;
    @media screen and (max-width: 768px) {
      padding: 0;
      max-width: 95%;
      border: none;
    }
    @media screen and (max-width: 1024px) {
      max-width: 90%;
    }
  }
  &__container {
    padding: $padding-container;
    background-color: $bg-color;
    border-radius: $border-radius;
    border: 2px solid $text-color;
    position: relative;
  }
  &__h2 {
    font-size: $h2-size;
    color: $heading-color;
    margin: 0;
    margin-bottom: 47px;
    @media screen and (max-width: 768px) {
      position: absolute;
      top: -80px;
      left: 0;
      width: 100%;
      margin-top: 1.5rem;
    }
  }
  &__p {
    font-size: $p-size;
    color: $text-color;
    @media screen and (max-width: 768px) {
      line-height: 1.5;
    }
  }
  &__images {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    position: relative;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__image {
    width: calc(50% - 1rem);
    height: auto;
    object-fit: cover;
    border-radius: $border-radius-images;
    border: 2px solid $text-color;
    &--vertical {
      display: block;
      margin: auto;
      width: 50%;
      height: auto;
      border-radius: $border-radius-images;
      border: 2px solid $text-color;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  &__undo {
    @include sticker('Undo', 50px);
    position: absolute;
    left: -20px;
    top: -20px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__puke {
    @include sticker('Puke', 50px);
    position: absolute;
    right: -20px;
    bottom: -20px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.first-contact {
  background-image: url(../assets/images/circles-pattern.svg);
  background-size: 3vh;
  background-repeat: repeat;
  background-position: center;
  @media screen and (max-width: 768px) {
    background-image: none;
    background-color: $first-contact-color;
  }
  &__fade-out--right {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, $first-contact-color 0%, transparent 100%);
    z-index: 1;
  }
  &__fade-out--left {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, $first-contact-color 0%, transparent 100%);
    z-index: 1;
  }
  &__fade-out--top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to bottom, $first-contact-color 0%, transparent 100%);
    z-index: -1;
  }
  &__fade-out--bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to top, $first-contact-color 0%, transparent 100%);
    z-index: -1;
  }
  &__fade-out--top, &__fade-out--bottom, &__fade-out--left, &__fade-out--right {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__outer-container {
    background-color: $first-contact-color;
  }
  &__h2 {
    color: $h2-first-contact-color;
  }
  &__h3 {
    font-size: $h3-size;
    color: $text-color;
  }
  &__p {
    margin-bottom: 47px;
  }
  &__images {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    &-container {
      position: relative;
      width: 100%;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    border-radius: $border-radius-images;
    border: 2px solid $text-color;
  }
  &__wave {
    @include sticker('Wave', 50px);
    position: absolute;
    top: -20px;
    left: -20px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__survey {
    max-height: 500px;
    @include flex-center(column);
  }
}

.issues {
  background-image: url(../assets/images/wave-pattern.svg);
  background-size: 30vh;
  background-repeat: repeat;
  background-position: center;
  @media screen and (max-width: 768px) {
    background-image: none;
    background-color: $issues-color;
  }
  &__outer-container {
    background-color: $issues-color;
  }
  &__h2 {
    color: $h2-issues-color;
  }
}

.team {
  background-image: url(../assets/images/grid-pattern.svg);
  background-size: 10vh;
  background-repeat: repeat;
  background-position: center;
  @include flex-center(column);
  min-height: 100vh;
  padding-top: 47px;
  padding-bottom: 47px;
  &__h2 {
    font-size: $h2-size;
    color: $text-color;
    margin-bottom: 47px;
  }
  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 65%;
    li {
      list-style-type: none;
      color: $text-color;
      max-width: 272px;
      @media screen and (max-width: 768px) {
        max-width: 45%;
      }
    }
    @media screen and (max-width: 768px) {
      max-width: 100%;
      gap: 1rem;
    }
  }
  &__member {
    @include flex-center(column);
    gap: 1rem;
    max-width: 272px;
    padding: 20px;
    background-color: $bg-color;
    border: 2px solid $text-color;
    border-radius: 30px;
    &-image {
      max-width: 100%;
      object-fit: cover;
      height: auto;
      border-radius: 10px;
    }
    &-name {
      margin: 0;
    }
  }
}